.searchBar {
    text-align: center;
    margin-top: 20px;
}
 h2 {
    font-weight: 400;
}
.searchContent {
    width:100%;
}

.searchBar input {
    width: 90%;
    height: 56px;
    padding: 10px;
    border: 1px solid rgb(170,170,170);
    font-size: 1.5em;
}
#searchIcon {
    float: right;
    margin-right: 20px;
}
#searchIcon:hover {
    cursor: pointer;
}
img:hover {
    cursor: pointer;
}
.iconstar {
    float: left;
    margin-right:10px;
}
.description  {
    font-size: 1.5em;
    line-height: 40px;
    padding: 10px;
    color:#212121;
}
.description div ul li span {
    font-size: 1em !important;
    padding: 10px;
    color:#212121;
}
.card {
    width: 95%;
    padding-right:50px;
    margin: 0 auto;
    margin-top: 20px;
    text-align:left;
}
